:root {
  --primaryText: #393939;
  --secondaryText: #585858;
  --darkBackground: #121212;
  --darkTextColor: #FFFFFF;
  --successColor: #519F03;
  --errorColor: #9F2903;
  --backgroundColor: #373737;
}

.App {
  display: grid;
  padding: 20px;
  gap: 10px;
}

h1 {
  color: var(--primaryText);
  font-weight: 500;
  font-size: 20px;
}

p {
  font-size: 14px;
  margin-block: 0;
}

.subtitle {
  color: var(--secondaryText);
}

.selected-group {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));

}

.selected-item {
  background-color: var(--darkBackground);
  color: var(--darkTextColor);

  padding: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 140px;
}

.close-btn {
  color: var(--darkTextColor);

  cursor: pointer;
  font-size: 10px;
  margin-left: auto;
  position: relative;
  padding: 0 5px 0 8px;
  background: none;
  border: none;
}

.close-btn::before {
  background-color: var(--darkTextColor);

  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  bottom: 0;
  width: 1px;
  height: 18px;
  opacity: 50%;
}

.change-btn {
  color: var(--darkTextColor);
  background-color: var(--successColor);

  cursor: pointer;
  width: max-content;
  font-size: 14px;
  padding: 7px 23px;
  border: 0;
}

.cancel-btn {
  background-color: var(--errorColor);
}